{% extends 'base.html' %}

{% block title %}Courdevs Oracle | Deliverables{% endblock %}

{% block content %}


<div class="container">
	
	{% if messages %}
		{% for message in messages %}

		<div class="alert alert-success alert-dismissable" role="alert">
			<button class="close" data-dismiss="alert">
             <small><sup>x</sup></small>
            </button>
        		{{ message }}
		</div>

	  {% endfor %}
	{% endif %}

	<br>

		{% if all_delivs %}

		<style type="text/css">
			.striker3 {
				text-decoration: line-through;
			}
		</style>

		<table class="table table-bordered">
			<th class="table table-success" colspan="4">Deliverables</th>
		
			{% for things in all_delivs %}
				{% if things.completeddelivs %}
					<tr class="table-success">
						<td class="striker3"><a href="{% url 'editdeliv' things.id %}" style="color: black">{{ things.delivs }}</td> 
						<td><center><a href="{% url 'uncross_deliv' things.id %}" style="color: black">Uncross</center></td>
						<td><center><a href="{% url 'deletedeliverable' things.id %}" style="color: black">Delete</a></center></td>
					</tr>
				{% else %}
					<tr>
						<td><a href="{% url 'editdeliv' things.id %}" style="color: black">{{ things.delivs }}</td> 
						<td><center><a href="{% url 'cross_off_deliv' things.id %}" style="color: black">Cross Off</center></td>
						<td><center><a href="{% url 'deletedeliverable' things.id %}" style="color: black">Delete</a></center></td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>


		<!-- 	<table class="table table-bordered">
				<th class="table table-dark" colspan="4">Project Deliverables</th>


				{% for things in all_delivs %}
					{% if things.completed %}
						<tr class="table-warning">
							<td class="striker"><a href="{% url 'editdelivs' things.id %}">{{ things.delivs }} | {{ things.completeddelivs }}</td>  
						</tr>
					{% endif %}
				{% endfor %}


			</table>-->

		{% endif %}

		

</div>


{% endblock %}