
{% extends 'base.html' %}

{% block title %}CourDevs | Edit Deliverable{% endblock %}

{% block content %}
	
	{% if ditem %}
	
		<style type="text/css">
			.editinput {
				width: 500px; 
			}
		</style>

		<br><br>
		
		<div class="container">
			<h3>EDIT HERE:</h3>
			<form class="form-inline my-2 my-lg-0" method="POST">
		    	{% csrf_token %}
		      <input class="form-control mr-sm-2 editinput" type="search" size="80" placeholder="{{ ditem.delivs }}" value="{{ ditem.delivs }}" aria-label="Search" name="delivs">

		      <input type="hidden" value="{{ ditem.delivs }}" name="completedproj">
		      
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Edit Deliverable</button>
		    </form>

   		 </div>

	{% endif %}
{% endblock %}


