{% extends 'base.html' %}

{% block title %} To-Do-List Two | Edit Project {% endblock %}


{% block content %}

	{% if pitem %}

       
		<br><br>
		
		<div class="container">
			<h3>EDIT HERE:</h3>
			<form class="form-inline my-2 my-lg-0" method="POST">
		    	{% csrf_token %}
		      <input class="form-control mr-sm-2" type="search" placeholder="{{ pitem.itemproj }}" value="{{ pitem.itemproj }}" aria-label="Search" name="itemproj">

		      <input type="hidden" value="{{ itemproj.completedproj }}" name="completedproj">
		      
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Edit Item</button>
		    </form>

   		 </div>
	
	
	
	{% endif %}

{% endblock %}
	