{% extends 'base.html' %}

{% block title %}Courdevs Oracle | Practices{% endblock %}

{% block content %}

<div class="container">

{% if messages %}
  {% for message in messages %}

      <div class="alert alert-primary alert-dismissable" role="alert">
        <button class="close" data-dismiss="alert">
             <small><sup>x</sup></small>
        </button>
           {{ message }}
      </div>

  {% endfor %}
{% endif %}

<br>

    {% if all_items %}

    <style type="text/css">
        .black {
          color: black;
        }
        .td {
          color: black;
        }
    </style>
    
      <table class="table table-bordered">
        <th class="table table-primary" colspan="4">Practices</th>

          {% for things in all_items %}
              {% if things.completed %}
                  <tr class="table-primary">
                      <td class="striker black"><a href="{% url 'editinfo' things.id %}" style="color: black">{{ things.item }}</a></td>
                      <td><center><a href="{% url 'uncross' things.id %}" style="color: black">Uncross</a></center></td>
                      <td><center><a href="{% url 'delete' things.id %}" style="color: black">Delete</a></center></td>
                  </tr>
              {% else %}
                  <tr>
                      <td><a href="{% url 'editinfo' things.id %}" style="color: black">{{ things.item }}</a></td>
                      <td><center><a href="{% url 'cross_off' things.id %}" style="color: black">Cross Off</a></center></td>
                      <td><center><a href="{% url 'delete' things.id %}" style="color: black">Delete</a></center></td>
                  </tr>
              {% endif %}
          {% endfor %}
      </table>
    </div>
    {% endif %}

{% endblock %}

